<!DOCTYPE html>
<html>
<head>
    <title>KnowledgeHub AI</title>
</head>
<body>

    <h1>KnowledgeHub AI</h1>

    <p>Ask questions about your documents.</p>

    <form method="post">
        {% csrf_token %}

        <input
            type="text"
            name="question"
            placeholder="Ask a question..."
            style="width:500px"
        >

        <button type="submit">
            Ask
        </button>

    </form>
    {% if answer %}
    <hr>
    <h2>Answer</h2>
    <p>{{ answer }}</p>
    {% endif %}

</body>
</html>