<!DOCTYPE html>
<html>
<head>
    <title>KnowledgeHub AI</title>
</head>
<body>

    <h1>KnowledgeHub AI</h1>

    <p>Ask questions about your documents.</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div>
            <label>Upload document</label>
            <input type="file" name="document">
        </div>

        <br>
    
        <div>
            <label>Question</label>
            <input
            type="text"
            name="question"
            placeholder="Ask a question..."
            style="width:500px"
            >
        </div>

        <br>

        <button type="submit">Ask AI</button>
    </form>
{% if answer %}
    <hr>

    <h2>Answer</h2>
    <p>{{ answer }}</p>

    <h2>Sources</h2>

    <ul>
        {% for source in sources %}
            <li>
                {{ source.source }}

                {% if source.page %}
                    - Page {{ source.page }}
                {% elif source.sheet %}
                    - Sheet: {{ source.sheet }}
                {% elif source.slide %}
                    - Slide {{ source.slide }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}

</body>
</html>